In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
def getLines_and_Track_Lines():
    lines_df = pd.read_csv("Resources/lines.csv")
    track_lines_df = pd.read_csv("Resources/track_lines.csv")

In [24]:
lines_df.head()

,id,city_id,name,url_name,color,system_id,transport_mode_id
0,43,4,Línea 2,43-linea-2,#ffbe2e,267,4.0
1,75,34,Línea 3 Metro de Caracas,75-linea-3-metro-de-caracas,#000,119,NaN
2,107,126,Línea 1,107-linea-1,#434343,249,NaN
3,604,74,La navette,604-la-navette,#009ab9,346,NaN
4,61,66,Línea 1 (Tramo 1A),61-linea-1,#49aa43,250,NaN

In [26]:
track_lines_df.head()

NameError: name 'track_lines_df' is not defined