In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

### Store CSV into DataFrame

In [2]:
csv_file = os.path.join("C:\\Users\\mas34\\Downloads\\tracks.csv")
tracks_data_df = pd.read_csv(csv_file)
tracks_data_df.head()

,id,geometry,buildstart,opening,closure,length,city_id
0,1911,"LINESTRING(19.0817752 47.5005079,19.0817355 47...",0.0,0.0,999999.0,6719,29
1,2563,"LINESTRING(16.4151057 48.1907238,16.4156455 48...",0.0,0.0,999999.0,199,118
2,2557,"LINESTRING(16.4164437 48.1839655,16.4161534 48...",0.0,0.0,999999.0,925,118
3,2558,"LINESTRING(16.4164901 48.1839473,16.416198 48....",0.0,0.0,999999.0,881,118
4,2564,"LINESTRING(16.415259 48.1908074,16.4153634 48....",0.0,0.0,999999.0,213,118

In [3]:
csv_file = os.path.join("C:\\Users\\mas34\\Downloads\\station_line.csv")
stationline_data_df = pd.read_csv(csv_file)
stationline_data_df.head()

   id  station_id  line_id  city_id           created_at           updated_at
0  47        7754      570       74  2017-11-21 00:00:00  2017-11-21 00:00:00
1  48        7771      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00
2  49        7764      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00
3  50        7763      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00
4  51        7729      571       74  2017-11-21 00:00:00  2017-11-21 00:00:00

### Create new data with select columns

In [4]:
tracks_data_df = tracks_data_df[['id', 'closure', 'length', 'city_id']].copy()
tracks_data_df.head()

     id   closure  length  city_id
0  1911  999999.0    6719       29
1  2563  999999.0     199      118
2  2557  999999.0     925      118
3  2558  999999.0     881      118
4  2564  999999.0     213      118

### Store JSON data into a DataFrame

### Clean DataFrame

### Connect to local database

In [5]:
rds_connection_string = "postgres:postgres@localhost:5432/ETLProject"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [6]:
engine.table_names()

['tracks', 'station_lines']

### Use pandas to load csv converted DataFrame into database

### Use pandas to load json converted DataFrame into database

In [7]:
tracks_data_df.to_sql(name='tracks', con=engine, if_exists='append', index=False)
stationline_data_df.to_sql(name='station_lines', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [9]:
pd.read_sql_query('select * from tracks', con=engine).head()

     id geometry buildstart opening   closure  length  city_id
0  1911     None       None    None  999999.0    6719       29
1  2563     None       None    None  999999.0     199      118
2  2557     None       None    None  999999.0     925      118
3  2558     None       None    None  999999.0     881      118
4  2564     None       None    None  999999.0     213      118

### Confirm data has been added by querying the customer_location table

In [10]:
pd.read_sql_query('select * from tracks', con=engine).head()

     id geometry buildstart opening   closure  length  city_id
0  1911     None       None    None  999999.0    6719       29
1  2563     None       None    None  999999.0     199      118
2  2557     None       None    None  999999.0     925      118
3  2558     None       None    None  999999.0     881      118
4  2564     None       None    None  999999.0     213      118